.itemBar {
  box-shadow: 0px 11.3653px 11.3653px rgba(0, 0, 0, 0.25);
  border-radius: 46px;
  background-image: url('../../assets/images/item-bar-bg.png');
  background-size: 100% 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}

.itemBarText {
  font-weight: 700;
  font-size: 19px;
  text-transform: uppercase;
  color: #004239;
  text-shadow: 0px 1.03923px 0px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 768px) {
  .itemBar {
    border-radius: 16px;
    padding: 8px;
  }

  .itemBarText {
    font-size: 7px;
  }
}