.appDownloadPopup {
  background: #fff !important;
  border-radius: 20px;
  padding-top: 29px;
  padding-left: 57px;
  padding-right: 57px;
  padding-bottom: 29px;
}

.downloadBtn {
  background: linear-gradient(180deg, #2ABAA9 -5.77%, #0D4A43 76.92%);
  font-weight: 700;
  font-size: 20px;
  height: 45px;
}

.downloadBtn span {
  background: linear-gradient(180deg, #F8F751 18.04%, #F7BF07 82.61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}