@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-image: url(./assets/images/background.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}

@media (max-width: 768px) {
  body {
    background-image: url(./assets/images/background-mb.png);
  }
}