@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html,
body {
  font-family: 'Inter', sans-serif;
  background-image: url('./assets/images/bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}

.arise-animation:hover {
  animation: arise 0.1s ease-in-out forwards;
}

@keyframes arise {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-4px);
  }
}